.hero{
    background: rgba(219, 229, 239, 0.92);
    text-align: center;
}

.tabla{
    background: rgba(176, 196, 216, 0.94);
    margin: 5% 0;
}

.tabla td img{
    width: 100%;
    margin-left: 0;
}

.tabla h3{
    font-weight: bolder;
}