.hero{
    background: #E6E6E6;
    text-align: center;
    padding: 0;
}

.tabla{
    background: rgba(180, 185, 198, 0.85);
    margin: 5% 0;
    }

.tabla td img{
    width: 100%;
    }

.tabla td{
    padding: 0;
    margin: 0;
}

.tabla h3{
    font-weight: bolder;
}

.tabla .buttom{
    background: #4d4d91;
    width: 200px;
    padding: 1% 2%;
    text-align: center;
    margin: 3%;
    }

.tabla .buttom a{
    text-decoration: none;
    color: white;
    }