section{
	background: #E6E6E6;
	padding-bottom: 50px;
}

.oferta{
	text-align: center;
}

.info {
	width: 100%;
	height: 450px;
	margin-top: 15px;
	margin-bottom: -130px;
}

.caja{
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 320px;
	height: 140px;
	top: -170px;
	left: 20px;
}

.texto{
	text-align: center;
	padding: 19px;
}