
 /* ----------header------------*/
header{
	color:#0B2161;
}
header h1{
	text-align: center;
	font-size: 20px
}
header .container ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
header .container li{
	display: inline-block;
	
}

header .container li{
	margin: 20px 20px;

}

  /* ----------footer------------*/
footer .letras{
	background-color: #12284F;
	color:white;
	height: 50px;
	padding: 20px 0 10px 10px;

}
footer p{
	margin-left: 50px
}
footer .row img{
	position: relative;
	z-index: -2;
	float: right;
	width: 50%
}
footer .row h3{
	color: #12284F
}
footer .contac{
	height: 100%
}

.formulario div{
    border: 1px solid #7b7070;
    margin: 2% auto;
}

.formulario input{
	width: 90% ;
	border: 0px;
}
[class*="icon-"]:before{
	font-size: 20px;
    }

footer input.lapiz{
	height: 150px;
   }

footer div.enviar{
	background-color: #12284F;
	color:white;
	padding: 5px 30px;
	width: 90%;
	height: 50px;
	border-radius: 4px;
	text-align: center;
}

.enviar a{
	display: inline-block;
	text-decoration: none;
	color: white;
	}
