.hero{
    background: url(../img/dance_7.jpg) no-repeat;
    background-size: cover;
}

.text-hero{
    background: rgba(0, 0, 0, 0.51);
    color: white;
    text-align: center;
    padding: 5%;
    margin: 30% 0 10% 0; 
    font-size: 10px;
}
/*fin hero*/

.pilares{
    background: url(../img/cubes.png);
    text-align: center;
    color: #867f7f;
   }
.pilar{
    padding: 5%;
}
.pilar hr{
    border:  0.5px solid #867f7f;    
}
/* fin de pilares*/
.instructores{
    text-align: center;
    margin: 1%;  
    display: inline-block;
}

.list-instructores li{
    list-style: none;
    } 
<<<<<<< HEAD

div [class*="img-"]{
     width: 100%;
    height: 50%;
    background: center contain;
    
=======
.instructor {
    outline: 1px red solid;
    width: 250px;
    height: 200px;
    background-size: cover;
>>>>>>> 7f8e3a2c7850b0bd0d5f8cc5149936661f0d5562
}

.img-1{
    background-image: url(../img/profesor_4.jpg);
}
.img-2{
    background-image: url(../img/profesor_14.jpg);
}
.img-3{
    background-image: url(../img/profesor_1.jpg);
}
.img-4{
    background-image: url(../img/profesor_10.jpg);
}
.img-5{
    background-image: url(../img/profesor_11.jpg);
}
.img-6{
    background-image: url(../img/profesor_12.jpg);
}
.img-7{
    background-image: url(../img/profesor_9.jpg);
}
.img-8{
    background-image: url(../img/profesor_15.jpg);
}

























